body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.sticky-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 72px;
  background: #1c1c1c;
  position: sticky;
}
.page-mid {
  display: flex;
  justify-content: center;
}
.width {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.header-logo-position {
  width: 200px;
  top: 10px;
}
.header-logo {
  width: 120px;
  margin-top: 10px;
}
.header-nav-position {
  margin-top: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 27px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
li {
  margin-left: 40px;
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e27866;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
li a:hover::after,
li a:focus::after {
  transform: scale(1);
}
/*---------------------------------------*/
#home {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: url(./Assets/main-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  height: 700px;
}
.home {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.home img {
  width: 190px;
}
.home-left {
  width: 60%;
  color: white;
}
.home-left h1 {
  font-size: 35px;
  width: 60%;
}
.line {
  height: 0;
  width: 74px;
  border-top: 2px solid #fff;
  margin-bottom: 25px;
}
.home-left p {
  line-height: 25px;
  font-size: 16px;
}
.main-button {
  border: solid white;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
}
.main-button:hover {
  opacity: 0.6;
}

.main-form {
  background-color: white;
  font-family: "Montserrat";
  height: 400px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
}
.main-form h1 {
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.legend {
  font-weight: 600;
  margin-bottom: 20px;
}
.input-wrap {
  display: flex;
}
.main-form fieldset span {
  color: black;
  font-size: 10px;
}
.main-form form fieldset input {
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.103);
  opacity: 0.4;
}
.width-input {
  width: 80%;
}
.main-form span {
  color: #e27866;
}
.main-form fieldset {
  margin-left: 40px;
}

input[type="radio"] {
  accent-color: #32946b;
}
.main-form form input[type="submit"] {
  background-color: #41d395;
  border: none;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}
.main-form form input[type="submit"]:hover {
  background-color: #389b72;
}
.main-form fieldset {
  border: none;
}
/*---------------------------------------*/
#media-bar {
  width: 100%;
  background-color: white;
}
.flex-media {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 1700px;
}
.media-bar-left {
  width: 900px;
  padding-top: 20px;
}
.media-bar-right {
  width: 100%;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.media-bar-left h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.media-bar-left p {
  margin: 5px 0 20px 0px;
  padding: 0;
  opacity: 0.6;
  font-size: 15px;
}
.media-bar-right img {
  height: 35px;
  padding-left: 120px;
}
/*---------------------------------------*/
#transitioning-tabs {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: linear-gradient(
      90deg,
      rgba(226, 120, 102, 0.42) 0%,
      rgba(102, 150, 226, 0.42) 100%
    ),
    url(./Assets/christoffer-engstrom-503481-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  background-position: center;
  height: 650px;
}

.mian-tab-block {
  display: flex;
  margin-top: 120px;
}

.side-buttons-css {
  width: 120px;
  height: 120px;
  background-color: #e27866;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.side-buttons-css:last-child {
  margin-bottom: 0px;
}
.main-info {
  color: white;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-info-pic {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.main-info-pic img {
  height: 200px;
  width: 200px;
}
.main-info-pic img:last-child {
  height: 200px;
  width: 400px;
}
/*---------------------------------------*/
#about {
  background-color: #1c1c1c;
  height: 620px;
  color: white;
}
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.about-logo {
  width: 400px;
}
.about-info {
  width: 500px;
}
.about-info h1{
  font-size: 30px;
  width: 350px;
}
.line2 {
  height: 0;
  width: 150px;
  border-top: 2px solid #e27866;
  margin-bottom: 25px;
}
.about-info-icon{
  display: flex;
}
.about-info-icon i{
  background-color: #e27866;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.about-info-icon h6{
  font-size: 15px;
  margin: 25px 0 0 20px;
}
.about-info-icon p{
  font-size: 13px;
  margin: 3px 0 35px 20px;
}
/*---------------------------------------*/
#awesome {
  color: #1c1c1c;
  height: 550px;
}
.line3 {
  height: 0;
  width: 80px;
  border-top: 2px solid #e27866;
  margin-bottom: 25px;
}
/*---------------------------------------*/
#pricing {
  background-color: rgb(107, 148, 224);
  height: 800px;
}

/*---------------------------------------*/
#reviews{
  height: 550px;
}

/*---------------------------------------*/
#contact{
  height: 600px;
  background-color: #e27866;
}

/*---------------------------------------*/
footer{
  background-color: #1c1c1c;
  height: 120px;
}