body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.sticky-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 72px;
  background: #1c1c1c;
  position: sticky;
}
.page-mid {
  display: flex;
  justify-content: center;
}
.width {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .width {
    width: 95%;
  }
}
.header-logo-position {
  width: 200px;
  top: 10px;
}
.header-logo {
  width: 120px;
  margin-top: 10px;
}
.header-nav-position {
  margin-top: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 27px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
li {
  margin-left: 40px;
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e27866;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
li a:hover::after,
li a:focus::after {
  transform: scale(1);
}

.header-nav-position button {
  border: none;
  background-color: #1c1c1c00;
}

.dropbtn {
  color: #e27866;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
@media only screen and (max-width: 1080px) {
  .header-main-nav {
    display: none;
  }
}
@media only screen and (min-width: 1080px) {
  .burger {
    display: none;
  }
}
/*---------------------------------------*/
#home {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: url(./Assets/main-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  height: 700px;
}
.home {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column;
  }
}
.home img {
  width: 190px;
}
.home-left {
  width: 60%;
  color: white;
}

.home-left h1 {
  font-size: 35px;
  width: 60%;
}
.line {
  height: 0;
  width: 74px;
  border-top: 2px solid #fff;
  margin-bottom: 25px;
}
.home-left p {
  line-height: 25px;
  font-size: 16px;
}
.main-button {
  border: solid white;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}
.main-button:hover {
  opacity: 0.6;
}

.main-form {
  background-color: white;
  font-family: "Montserrat";
  height: 400px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
}
.main-form h1 {
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.legend {
  font-weight: 600;
  margin-bottom: 20px;
}
.input-wrap {
  display: flex;
}
.main-form fieldset span {
  color: black;
  font-size: 10px;
}
.main-form form fieldset input {
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.103);
  opacity: 0.4;
}
.width-input {
  width: 80%;
}
.main-form span {
  color: #e27866;
}
.main-form fieldset {
  margin-left: 40px;
}

input[type="radio"] {
  accent-color: #32946b;
}
.main-form form input[type="submit"] {
  background-color: #41d395;
  border: none;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}
.main-form form input[type="submit"]:hover {
  background-color: #389b72;
}
.main-form fieldset {
  border: none;
}
@media only screen and (max-width: 900px) {
  .home-left {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-left h1 {
    text-align: center;
  }
  .home-left p {
    text-align: center;
  }
  #home {
    height: 1150px;
  }
  .home-right {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-form h1 {
    margin-top: 0;
  }
  .home {
    margin-top: 20px;
  }
}
/*---------------------------------------*/
#media-bar {
  width: 100%;
  background-color: white;
}
.flex-media {
  display: flex;
  align-items: center;
  width: 70%;
  max-width: 1700px;
}
@media only screen and (max-width: 900px) {
  .flex-media {
    width: 95%;
  }
}
.media-bar-left {
  width: 900px;
  padding-top: 20px;
}
.media-bar-right {
  width: 100%;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.media-bar-left h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.media-bar-left p {
  margin: 5px 0 20px 0px;
  padding: 0;
  opacity: 0.6;
  font-size: 15px;
}
.media-bar-right img {
  height: 35px;
  padding-left: 120px;
}
@media only screen and (max-width: 900px) {
  .media-bar-right img {
    padding-left: 20px;
  }
}
/*---------------------------------------*/
#transitioning-tabs {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: linear-gradient(
      90deg,
      rgba(226, 120, 102, 0.42) 0%,
      rgba(102, 150, 226, 0.42) 100%
    ),
    url(./Assets/christoffer-engstrom-503481-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  background-position: center;
  height: 650px;
}

.mian-tab-block {
  display: flex;
  margin-top: 120px;
}

.side-buttons-css {
  width: 120px;
  height: 120px;
  background-color: #e27866;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.side-buttons-css:last-child {
  margin-bottom: 0px;
}
.main-info {
  color: white;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-info-pic {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.main-info-pic img {
  height: 200px;
  width: 200px;
}
.main-info-pic img:last-child {
  height: 200px;
  width: 400px;
}
@media only screen and (max-width: 900px) {
  .side-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .side-buttons-css {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .mian-tab-block {
    display: flex;
    flex-direction: column;
  }
  #transitioning-tabs {
    height: 1000px;
  }
  .main-info-text {
    text-align: center;
  }
  .main-info {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
/*---------------------------------------*/
#about {
  background-color: #1c1c1c;
  height: 620px;
  color: white;
}
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.about-logo {
  width: 400px;
}
.about-info {
  width: 500px;
}
.about-info h1 {
  font-size: 30px;
  width: 350px;
}
.line2 {
  height: 0;
  width: 150px;
  border-top: 2px solid #e27866;
  margin-bottom: 25px;
}
.about-info-icon {
  display: flex;
}
.about-info-icon i {
  background-color: #e27866;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.about-info-icon h6 {
  font-size: 15px;
  margin: 25px 0 0 20px;
}
.about-info-icon p {
  font-size: 13px;
  margin: 3px 0 35px 20px;
}
@media only screen and (max-width: 900px) {
  .about-logo {
    width: 200px;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .about-info {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-info-icon h6 {
    text-align: start;
  }
  .about-info-icon p {
    text-align: start;
  }
}
/*---------------------------------------*/
#awesome {
  color: #1c1c1c;
  height: 550px;
}
.awesome {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
}
.awesome p {
  color: #0000008a;
  font-size: 14px;
}
.awesome h1 {
  font-size: 35px;
}
.awesome h2 {
  font-size: 20px;
}
.line3 {
  height: 0;
  width: 80px;
  border-top: 2px solid #e27866;
  margin-bottom: 10px;
}
.awesome i {
  color: #e27866;
  border: 2px solid #e27866;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.awesome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.awesome-main-box {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.awesome-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*---------------------------------------*/
#pricing {
  background-color: rgb(107, 148, 224);
  height: 800px;
}
.pricing {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.line4 {
  height: 0;
  width: 80px;
  border-top: 2px solid #48cf9b;
  margin-bottom: 10px;
}
.pricing-box-main {
  margin-top: 50px;
  display: flex;
  width: 100%;
  color: rgb(158, 158, 158);
  justify-content: space-evenly;
  align-items: flex-end;
}
.pricing-box-top {
  background-color: #303030;
  border-radius: 5px 5px 0 0;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-box-top h1 {
  margin: 0;
  padding-top: 10px;
}
.pricing-box-top h2 {
  margin: 0;
}
.pricing-box-top h3 {
  margin: 0;
  padding-bottom: 10px;
}
.pricing-box-top span {
  font-size: 100px;
  font-weight: 400;
}
.pricing-box {
  background-color: white;
  border-radius: 5px;
  width: 320px;
}
.pricing-box-green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4de4a5;
  color: white;
  padding: 2px;
}
.padding {
  padding: 10px;
}
.pricing-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
@media only screen and (max-width: 900px) {
  #pricing {
    height: 1750px;
  }
  .pricing-box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing-box {
    margin-bottom: 15px;
  }
}
/*---------------------------------------*/
#reviews {
  height: 550px;
}
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.reviews h1 {
  font-size: 35px;
  margin-top: 85px;
}
.line5 {
  height: 0;
  width: 80px;
  border-top: 2px solid #3573d1;
  margin-bottom: 10px;
}
.reviews-box-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  justify-content: space-around;
}
.reviews-box {
  width: 300px;
  padding: 25px;
}
.avatar {
  width: 70px;
}
.avatar-name {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.name {
  margin-left: 10px;
}
.name h1 {
  margin: 0;
  font-size: 20px;
}
.name p {
  margin: 0;
  font-size: 12px;
}
.reviews-chat-box {
  background-color: #6696e2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.reviews-chat-box p {
  font-size: 14px;
}
@media only screen and (max-width: 900px) {
  #reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 950px;
  }
  .reviews-box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reviews h1 {
    font-size: 30px;
    margin-top: 15px;
  }
  .name h1 {
    margin: 0;
    font-size: 20px;
  }
  .name p {
    margin: 0;
    font-size: 11px;
  }
}
/*---------------------------------------*/
#contact {
  height: 600px;
  background-color: #e27866;
}
.contact {
  width: 100%;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  font-size: 35px;
}
.second-form {
  padding-top: 20px;
  color: #1c1c1c;
  height: 300px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-form form input[type="submit"] {
  background-color: #41d395;
  border: none;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
/*---------------------------------------*/
footer {
  background-color: #1c1c1c;
  height: 120px;
}
.footer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left img {
  height: 35px;
  padding-right: 100px;
}
.footer-right {
  color: white;
}
@media only screen and (max-width: 900px) {
  .footer-left img {
    height: 30px;
    padding-left: 15px;
    padding-right: 0px;
  }
}
