body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.sticky-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 72px;
  background: #1c1c1c;
  position: sticky;
}
.page-mid {
  display: flex;
  justify-content: center;
}
.width {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.header-logo-position {
  width: 200px;
  top: 10px;
}
.header-logo {
  width: 120px;
  margin-top: 10px;
}
.header-nav-position {
  margin-top: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 27px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
li {
  margin-left: 40px;
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e27866;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
li a:hover::after,
li a:focus::after {
  transform: scale(1);
}
/*---------------------------------------*/
#home {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: url(./Assets/main-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  height: 850px;
}
.home {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.home img {
  width: 190px;
}
.home-left {
  width: 60%;
  color: white;
}
.home-left h1 {
  font-size: 35px;
  width: 60%;
}
.home-left p {
  line-height: 25px;
  font-size: 16px;
}
.main-button {
  border: solid white;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
}
.main-button:hover {
  opacity: 0.6;
}

.main-form {
  background-color: white;
  font-family: "Montserrat";
  height: 450px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
}
.main-form h1 {
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.main-form form fieldset input {
  margin-bottom: 25px;
}
.main-form span {
  color: #e27866;
}
.main-form form input[type="submit"] {
  background-color: #41d395;
  border: none;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}
.main-form form input[type="submit"]:hover {
  background-color: #389b71;
}
.main-form fieldset {
  border: none;
}
/*---------------------------------------*/
#media-bar {
  width: 100%;
  background-color: white;
}
.flex-media {
  display: flex;
  align-items: center;
  width: 75%;
}
.media-bar-left {
  width: 900px;
  padding-top: 10px;
}
.media-bar-right {
  width: 100%;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.media-bar-left h1 {
  margin: 0;
  padding: 0;
}
.media-bar-right img {
  height: 30px;
  padding-left: 120px;
}
/*---------------------------------------*/
#transitioning-tabs {
  background-color: rgba(28, 28, 28, 0.63);
  background-image: linear-gradient(
      90deg,
      rgba(226, 120, 102, 0.42) 0%,
      rgba(102, 150, 226, 0.42) 100%
    ),
    url(./Assets/christoffer-engstrom-503481-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  background-position: center;
  height: 850px;
}
/*---------------------------------------*/
